html,
body,
#__nuxt {
  height: 100%;
}

#__nuxt {
  font-family: "Google Sans Code", monospace;
}
:root {
  --background-color: #474aff;
}

// Titles styles (Google Sans Code font and .h1, .h2, .h3 classes)
h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-weight: 800;
}
